@mixin input-styles {
  border: 1px solid #999;
  border-radius: .25em;
  padding: 10px;
  box-sizing: border-box;
}



.container {
  max-width: 768px;
  padding:8px;
  margin: 0 auto;
}
form {
  background: #eee;
  border: 1px solid #999;
  border-radius: .25em;
  box-shadow: 0 2px 2px rgba(#111,0.5);
  display: flex;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .warn-text {
    color: crimson;
    font-weight: bold;
    font-size: .75rem;
  }
  & > * {
    margin: .25rem; 
  }

  label {
    margin-top: 1em;
    
  }
  input, textarea, select {
    padding: .25em;
    @include input-styles;
  }
  textarea {
    resize: vertical;
  }
  .col {
    padding: .5rem;
    &:nth-of-type(odd) {
      background-color: #ccc;
    }
  }
  label.user, label.model {
    display: inline-flex;
    margin: 0 1em 0 0;
    height: 3em;
    width: 3em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #fff;

  }

  label.user {
    background-color: #ddd;
  }
  label.model {
    background-color: #00A67E;
    color: white;

  }
} 