@mixin input-styles {
  border: 1px solid #999;
  border-radius: .25em;
  padding: 10px;
  box-sizing: border-box;
}



.container {
  max-width: 768px;
  padding: 8px;
  margin: 0 auto;
}

form {
  background: #eee;
  border: 1px solid #999;
  border-radius: .25em;
  box-shadow: 0 2px 2px rgba(#111, 0.5);
  display: flex;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .warn-text {
    color: crimson;
    font-weight: bold;
    font-size: .75rem;
  }

  label {
    margin-top: 1em;
  }

  input,
  textarea,
  select {
    padding: .25em;
    @include input-styles;
  }

  textarea {
    resize: vertical;
  }

  .conversation-container {
    display: flex;
    flex-direction: column;
    
    .add-pair {
      padding: .5em;
      margin: 0 auto;
    }

    .conversation-pair {
      display: flex;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1rem;
      padding-bottom: .25rem;
      border-radius: .125rem;

      .remove-pair {
        margin: .25em;
      }

      .row {
        width: 100%;

          .col > label {
            display: inline-flex;
            margin: .25em 1em .25em 0;
            min-height: 3em;
            min-width: 3em;
            border-radius: .5em;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            border: 1px solid #fff;
          }

          .user > label {
            background-color: #ddd;
          }

          .model > label {
            background-color: #00A67E;
            color: white;

          }

        .col {
          display: flex;
          // align-items: center;
          padding: .5rem;

          &:nth-of-type(odd) {
            background-color: #ccc;
          }

          textarea {
            width: 100%;
          }

        }
      }
    }

  }
  section {
    margin: .25rem;
    display: flex;
    flex-direction: column;
  }

  #parameter-fields {
    label {
      // display: block;
      margin-right: .5em;
      margin-top: .5em;
    }
    span.warn-text {
      // display: block;
      margin: .5em;
    }
    input {
      margin-right: auto;
    }
    button {
      margin-right: auto;
      margin-left: .5em;
    }
  }

  #submit {
    padding: .5em;
  }
  .hint {
    font-size: .8rem;
    font-weight: bold;
    color: #333;

  }
}